/* 태그선택자 */
/* ul {
    background-color: slateblue;
} */

/* 아이디 선택자 */
/* #foo1 {
    font-weight: bold;
} */

/* 클래스 선택자 */
/* 앞에 .을 꼭 찍어줘야함 */
/* .group1 {
    color: bisque;
}
.group2 {
    color: yellowgreen;
}
.group1.group2 {
    color: aquamarine;
} */

/* 속성 선택자 */
/* [title] {
    cursor: pointer;
}
[title=안녕2] {
    text-decoration: underline;
}

/* 혼용해서 사용 */
/* li#foo3.group2 {
    background-color: brown;
} */

/* 복수개 사용 */
/* #foo4, #foo5 {
    color: cornflowerblue;
} */


/* 자식 선택자 */
/* #parent > h4 {
    color: slateblue;
} */

/* 후손 선택자 */
/* #parent h4 {
    color: crimson;
}
#parent > ul > li {
    color: cornflowerblue;
}
#parent {
    color: seagreen;
}
#child {
    color: aquamarine;
}
#parent #child > ul > li{
    color: darkcyan;
} */

/* 형제 선택자 */
/* 다음 형제요소 하나 */
/* #p1 + p {
    color: chocolate; */
/* } */ /* p1의 다음 p태그에게 해당 */

/* 다음 형제요소 모두 */
/* #p1 ~ p {
    text-decoration: underline;
} */

 /* * = 모든 요소 선택자 */
/* #p1 ~ * {
    text-decoration: underline;
} */

/* 가상클래스 선택자 */
/* 특정 상황에 작동하는 선택자 */
/* #bar1:active {
    background-color: cadetblue;
    color: thistle;
}
#bar2:hover {
    background-color: steelblue;
    color: snow;
} */

/* 위치관련 가상클래스 선택자 */
/* child계열(위치) */
/* #season-wrapper :first-child {
    color: slategray;
} */
/* #season-wrapper > :first-child {
    color: slategray;
} */
/* #season-wrapper p:first-child {
    color: slategray;
} */
/* #season-wrapper :last-child {
    color: slategray;
} */
/* #season-wrapper :nth-child(3) {
    color: slategray;
} */
/* #season-wrapper :nth-child(2n) {
    color: slategray; */
/* }  */ /* 홀수는 2n+1 */

/* of-type계열(타입, 위치) / 타입별로 위치를 따짐 */
/* #season-wrapper p:first-of-type {
    color: slategray;
}  */
#season-wrapper p:last-of-type {
    color: slategray;
}

/* 부정선택자 */
#client-langs li:not(#css3) {
    color: antiquewhite;
}/* css3이름 아닌애만 */
#client-langs li#css3 {
    color: antiquewhite;
}/* css3이름 가진애만 */

/* 루트선택자 */
:root {
    background-color: mediumslateblue;
}

/* 가상요소 선택자 */
/* ::before 시작태그와 내용사이에 삽입 됨 */
#price-list li::before {
    content: '₩';
}
/* ::after 종료태그와 내용사이에 삽입 */
#price-list li::after {
    content: '🍮'
}