#container {
    width: 400px;
    height: 200px;
}
li{
    list-style-type: none;
    display: inline-block;
}
.caption {
    /* width: 640px;
    height: 200px; */
    color: white;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
#container:hover{
    color: black;
    opacity: 90%;
    
}
  